* {
  box-sizing: border-box;
}

/*선택자(selector): html 태그를 선택하는 애들*/
/*Cascading Style Sheet*/
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

div#header-center {
  margin: 0 auto;
  width: 1080px;
}

/*header-search의 자식 h1, div 지워서 쳐도 됨.*/
#header-search > h1 {
  margin: 0px;
  width: 250px;
  height: 80px;
  display: inline-block;
  background-image: url(./sp_main_4f8ccb.png);
  background-position: 0 -219px;
  background-repeat: no-repeat;
  background-size: 520px 607px;
  vertical-align: middle;
}

/*#header-search > h1 {
  width: 222px;
  height: 52px;
  display: inline-block;
  background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main.44265f.png);
  background-position: 0 -161px;
  background-size: 471px 442px;
  background-repeat: no-repeat;
  vertical-align: middle;
}*/

#header-search > h1 span {
  display: none;
}

/*
#header-center h1 {
    자손 선택자
}
*/

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 12px;
  padding-right: 10px;
  /*padding: 12px 0 12px 10px;*/
  width: 521px;
  height: 49;
  display: inline-block;
  border: 2px solid #03cf5d;
  vertical-align: middle;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}
