{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Movie reviews</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}" />
  </head>
  <body>
    <header>
      <div class="page-header">
        <div>
          <h1>
            <a href="/">my <span>Movie</span> reviews</a>
          </h1>
        </div>
        <div><a href="{% url 'post_new' %}">Add a New review</a></div>
      </div>
    </header>
    <main><div class="listpage">{% block content %} {% endblock %}</div></main>
  </body>
</html>
