{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Movie reviews</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}" />
  </head>
  <body>
    <header>
      <div class="page-header">
        <h1><a href="/">myMoviereviews</a></h1>
      </div>
      <a href="{% url 'post_new' %}">생성하기</a>
    </header>
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
